@font-face {
    font-family: "Mr Eaves Reg";
    src: url("/fonts/MrEavesXLModOT-Reg.ttf");
}

@font-face {
    font-family: "Mr Eaves Reg Italic";
    src: url("/fonts/MrEavesXLModOT-RegItalic.ttf");
}

@font-face {
    font-family: "Mr Eaves Bold";
    src: url("/fonts/MrEavesXLModOT-Bold.ttf");
}

@font-face {
    font-family: "Mr Eaves Bold Italic";
    src: url("/fonts/MrEavesXLModOT-BoldItalic.ttf");
}